[user]
	name = Scott McKendry
	email = 39483124+scottmckendry@users.noreply.github.com

[core]
  editor = nvim
  pager = delta

[delta]
  paging = never
  syntax-theme = cyberdream
  side-by-side = true

[alias]
  co = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[fetch]
  prune = true

[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
